block config
  include variables
  include ../includes/banner-mixin
  include ../includes/user-mixin
  include ../includes/inscription-card-mixin
doctype html
html(lang="es")
  head
    title= pageTitle + " - " + siteName
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=twitterAccount)
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:image" content=pageImage)
    link(rel="stylesheet" href="css/styles.css")
    link(rel="shortcut icon" href="img/EDteam-favicon.png")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
    //- pwa config
    link(rel="manifest" href="./manifest.json")
    meta(name="theme-color" content="#fafdff")
    //- Configuración para dispositivos IOS
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="format-detection" content="telephone=no")
    meta(name="apple-mobile-web-app-title" content="EDcamp")

    //- Meta tags para windows
    meta(name="msapplication-TileColor" content="#F7DF1E")
    meta(name="msapplication-TileImage" content="./img/logo/icon_192x192.png")
  body
    include ../includes/header
    block main
    include ../includes/footer
    script(src="js/scripts-min.js")
    script.
      window.intercomSettings = {
        app_id: "rx8wzzsg"
      }
    script.
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/rx8wzzsg';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
