block config
  include variables
  include ../includes/banner-mixin
  include ../includes/user-mixin
  include ../includes/inscription-card-mixin
doctype html
html(lang="es")
  head
    title= pageTitle + " - " + siteName
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=twitterAccount)
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:image" content=pageImage)
    link(rel="stylesheet" href="css/styles.css")
    link(rel="shortcut icon" href="img/EDteam-favicon.png")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
  body
    include ../includes/header
    block main
    include ../includes/footer
    script(src="js/scripts-min.js")
