mixin suscriptionCard(image,title,subtitle,price,priceFinal,message,button,id)
  .card.card--mini-horizontal.card--subscription
    .card__img
      img(src="img/card__img-"+image+".jpg")
    .card__content
      .card__title= title
      .card__subtitle=subtitle
      a(class="button--"+button href="https://app.ed.team/?compra="+id)
        | S/
        del=price
        span=priceFinal
  span.smaller=message

